<!DOCTYPE html>
<%- include("partials/header.ejs") %>


<body>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a>Care Point</a></h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="/doctorHome">Home</a></li>
                    <li><a class="nav-link scrollto" href="/doctorAppointments">My Appointments</a></li>



                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>



        </div>
    </header>
    <section id="hero" class="d-flex align-items-center" style="padding-top: 0px">
        <div class="container">
            <h1>Hi Dr. <%= doctorName %> .<br> Welcome to Care Point</h1>
            <h2>Healing lives, with care and compassion.</h2>

        </div>
    </section>

    <body>
        <main id="main">

            <!-- ======= Why Us Section ======= -->
            <section id="why-us" class="why-us">
                <div class="container">




                    <div class="icon-boxes d-flex flex-column boxshadow ">


                        <div class="icon-box mt-4 mt-xl-0">

                            <div class="formContent">
                                <div class="row">
                                    <% doctors.forEach(element=> { %>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="card">
                                                <div class="card-body">
                    
                                                    <div class="container">
                                                        <%= element.userName%> <br>
                                                            <%= element.address%> <br>
                                                                <%= element.status%>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
       
        
        <%- include("partials/footer.ejs") %>