<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

  <link rel="stylesheet" href="userMainPages.css">
  <title>User Main Page</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg sticky-top" style="background-color:  #f2f2f2;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="" alt="">
        Website Name and logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item px-5">
            <a class="nav-link active" aria-current="page" href="">Home</a>
          </li>
          <li class="nav-item px-5">
            <a class="nav-link" href="">Doctor-On-Demand</a>
          </li>
          <li class="nav-item px-5">
            <a class="nav-link" href="">Schedule Appointments</a>
          </li>
          <li class="nav-item px-5">
            <a class="nav-link" href="/myAppointments">My Appointments</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="content">
    <div class="text">
      <h1>Hi <%= userName %>
      </h1>
    </div>
    <div class="image"> <img src="doctor.avif" alt="">
    </div>

  </div>
  <div class="section">
    <h3>Doctor On Demand</h3>
    <div class="form">
      <form action="/homeDoctorSearch" method="post">
        <div class="formContent">
          Please fill out the form below to search for physicians and schedule appointments to have them visit
          your residence.
        </div>
        <div class="formContent">
          Choose your area :
          <select name="area" id="" class="form-select" aria-label="Default select example">
            <option value="Kengeri">Kengeri</option>
            <option value="Hebbala">Hebbala</option>
            <option value="Krishnarajapuram">Krishnarajapuram</option>
            <option value="Anekal">Anekal</option>
            <option value="Yelahanka">Yelahanka</option>
          </select>
        </div>

        <div class="formContent">
          Choose specialization of the doctor :
          <select name="specialization" id="" class="form-select" aria-label="Default select example">
            <option value="Neurology">Neurology</option>
            <option value="Orthopedics">Orthopedics</option>
            <option value="ENT">ENT</option>
            <option value="Urology">Urology</option>
            <option value="Opthalmology">Opthalmology</option>
            <option value="Pediatrics">Pediatrics</option>
            <option value="Dermatolgy">Dermatolgy</option>
            <option value="Psychiatry">Psychiatry</option>
            <option value="Dentistry">Dentistry</option>
            <option value="Nephrology">Nephrology</option>
            <option value="General Surgery">General Surgery</option>
            <option value="General Physician">General Physician</option>
            <option value="Ayurveda">Ayurveda</option>
            <option value="Nutritionist">Nutritionist</option>
            <option value="Psychology">Psychology</option>
            <option value="Cardiology">Cardiology</option>
            <option value="Gynaecology">Gynaecology</option>
          </select>
        </div>

        <div class="button">
          <button type="submit" class="btn btn-success">Search Doctors</button>
        </div>
      </form>
      <% if(homeDoctorData){ %>

        <div class="formContent">
          <div class="row">
            <% homeDoctorData.forEach(element=> {%>

              <% let g=element.gender.charAt(0).toUpperCase() + element.gender.slice(1);%>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">

                        <form action="/scheduleHomeAppointment" method="post">
                          <div class="row">
                            <div class="col-4">
                              Name
                            </div>
                            <div class="col-8">
                              : Dr.<%= element.name%>
                            </div>

                          </div>
                          <div class="row">
                            <div class="col-4">
                              Age
                            </div>
                            <div class="col-8">
                              : <%= element.age%>
                            </div>

                          </div>
                          <div class="row">
                            <div class="col-4">
                              Gender
                            </div>
                            <div class="col-8">
                              : <%= g%>
                            </div>

                          </div>
                          <div class="row">
                            <div class="col-4">
                              Experience
                            </div>
                            <div class="col-8">
                              : <%= element.experience%>
                            </div>

                          </div>
                          <div class="row">
                            <div class="col-4">
                              Area
                            </div>
                            <div class="col-8">
                              : <%= element.area%>
                            </div>

                          </div>
                          <div class="row">
                            <div class="col-4">
                              Specialization
                            </div>
                            <div class="col-8">
                              : <%= element.specialization%>
                            </div>

                          </div>
                          <div class="row">
                            <div class="col-4">
                              Address
                            </div>
                            <div class="col-8">
                              : <%= element.address%>
                            </div>

                          </div>
                      </div>



                      <% if(element.schedule[0]){ %>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Date</th>
                              <th scope="col">Slot 1</th>
                              <th scope="col">Slot 2</th>
                              <th scope="col">slot 3</th>
                            </tr>
                          </thead>
                          <tbody>


                            <% element.schedule.forEach(ele=> { %>

                              <tr>
                                <th scope="row">
                                  <% if(ele.date) %>
                                    <%= ele.date %>
                                </th>
                                <% let Slot1=ele.date + "slot1" + ele._id %>
                                  <% let Slot2=ele.date + "slot2" + ele._id %>
                                    <% let Slot3=ele.date + "slot3" + ele._id %>
                                      <% if(ele.slot1==="Free" ){ %>
                                        <td>



                                          <div class="form-check">
                                            <input class="form-check-input" name="slot" type="checkbox" value=<%=Slot1
                                              %> id="flexCheckDefault">

                                            <label class="form-check-label" for="flexCheckDefault">
                                              <%= ele.slot1 %>
                                            </label>
                                          </div>

                                        </td>
                                        <% }else if(ele.slot1==="Busy" ){ %>

                                          <td>
                                            <%= ele.slot1 %>
                                          </td>
                                          <% } %>


                                            <% if(ele.slot2==="Free" ){ %>
                                              <td>
                                                <div class="form-check">
                                                  <input class="form-check-input" name="slot" type="checkbox"
                                                    value=<%=Slot2 %> id="flexCheckDefault">

                                                  <label class="form-check-label" for="flexCheckDefault">
                                                    <%= ele.slot2 %>
                                                  </label>
                                                </div>
                                              </td>
                                              <% }else if(ele.slot2==="Busy" ){ %>

                                                <td>
                                                  <%= ele.slot2 %>
                                                </td>
                                                <% } %>

                                                  <% if(ele.slot3==="Free" ){ %>
                                                    <td>
                                                      <div class="form-check">
                                                        <input class="form-check-input" name="slot" type="checkbox"
                                                          value=<%=Slot3 %> id="flexCheckDefault">

                                                        <label class="form-check-label" for="flexCheckDefault">
                                                          <%= ele.slot3 %>
                                                        </label>
                                                      </div>
                                                    </td>
                                                    <% }else if(ele.slot3==="Busy" ){ %>

                                                      <td>
                                                        <%= ele.slot3 %>
                                                      </td>
                                                      <% } %>

                              </tr>
                              <% }); %>
                          </tbody>
                        </table>
                        <input type="hidden" id="custId" name="doctorName" value="<%= element.name %>">

                        <button type="submit" class="btn btn-success">Schedule Appointment</a>
                          </form>
                          <% }else{ %>
                            <div class="alert alert-danger" role="alert">The doctor has not updated his/her schedule
                            </div>
                            <% } %>









                    </div>
                  </div>
                </div>
                <% }) %>

          </div>
        </div>

        <% } %>

    </div>
  </div>
  <div class="section">
    <h3>Schedule Clinic Appointment</h3>
    <div class="form">
      <form action="/clinicDoctorSearch" method="post">
        <div class="formContent">
          Please fill out the form below to search for physicians and schedule appointments at their Clinics
        </div>
        <div class="formContent">
          Choose your area :
          <select name="area" id="" class="form-select" aria-label="Default select example">
            <option value="Kengeri">Kengeri</option>
            <option value="Hebbala">Hebbala</option>
            <option value="Krishnarajapuram">Krishnarajapuram</option>
            <option value="Anekal">Anekal</option>
            <option value="Yelahanka">Yelahanka</option>
          </select>
        </div>

        <div class="formContent">
          Choose specialization of the doctor :
          <select name="specialization" id="" class="form-select" aria-label="Default select example">
            <option value="Neurology">Neurology</option>
            <option value="Orthopedics">Orthopedics</option>
            <option value="ENT">ENT</option>
            <option value="Urology">Urology</option>
            <option value="Opthalmology">Opthalmology</option>
            <option value="Pediatrics">Pediatrics</option>
            <option value="Dermatolgy">Dermatolgy</option>
            <option value="Psychiatry">Psychiatry</option>
            <option value="Dentistry">Dentistry</option>
            <option value="Nephrology">Nephrology</option>
            <option value="General Surgery">General Surgery</option>
            <option value="General Physician">General Physician</option>
            <option value="Ayurveda">Ayurveda</option>
            <option value="Nutritionist">Nutritionist</option>
            <option value="Psychology">Psychology</option>
            <option value="Cardiology">Cardiology</option>
            <option value="Gynaecology">Gynaecology</option>
          </select>
        </div>

        <div class="button">
          <button type="submit" class="btn btn-success">Search Doctors</button>
        </div>
      </form>
      <% if(clinicDoctorData){ %>

        <div class="formContent">
          <div class="row">
            <% clinicDoctorData.forEach(element=> {%>

              <% let g=element.gender.charAt(0).toUpperCase() + element.gender.slice(1);%>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">

                        <form action="/scheduleClinicAppointment" method="post">
                          <div class="row">
                            <div class="col-4">
                              Name
                            </div>
                            <div class="col-8">
                              : Dr.<%= element.name%>
                            </div>

                          </div>
                          <div class="row">
                            <div class="col-4">
                              Age
                            </div>
                            <div class="col-8">
                              : <%= element.age%>
                            </div>

                          </div>
                          <div class="row">
                            <div class="col-4">
                              Gender
                            </div>
                            <div class="col-8">
                              : <%= g%>
                            </div>

                          </div>
                          <div class="row">
                            <div class="col-4">
                              Experience
                            </div>
                            <div class="col-8">
                              : <%= element.experience%>
                            </div>

                          </div>
                          <div class="row">
                            <div class="col-4">
                              Area
                            </div>
                            <div class="col-8">
                              : <%= element.area%>
                            </div>

                          </div>
                          <div class="row">
                            <div class="col-4">
                              Specialization
                            </div>
                            <div class="col-8">
                              : <%= element.specialization%>
                            </div>

                          </div>
                          <div class="row">
                            <div class="col-4">
                              Address
                            </div>
                            <div class="col-8">
                              : <%= element.address%>
                            </div>

                          </div>
                      </div>



                      <% if(element.schedule[0]){ %>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Date</th>
                              <th scope="col">Slot 1</th>
                              <th scope="col">Slot 2</th>
                              <th scope="col">Slot 3</th>
                            </tr>
                          </thead>
                          <tbody>


                            <% element.schedule.forEach(ele=> { %>

                              <tr>
                                <th scope="row">
                                  <% if(ele.date) %>
                                    <%= ele.date %>
                                </th>
                                <% let Slot1=ele.date + "slot1" + ele._id %>
                                  <% let Slot2=ele.date + "slot2" + ele._id %>
                                    <% let Slot3=ele.date + "slot3" + ele._id %>
                                      <% if(ele.slot1==="Free" ){ %>
                                        <td>



                                          <div class="form-check">
                                            <input class="form-check-input" name="slot" type="checkbox" value=<%=Slot1
                                              %> id="flexCheckDefault">

                                            <label class="form-check-label" for="flexCheckDefault">
                                              <%= ele.slot1 %>
                                            </label>
                                          </div>

                                        </td>
                                        <% }else if(ele.slot1==="Busy" ){ %>

                                          <td>
                                            <%= ele.slot1 %>
                                          </td>
                                          <% } %>


                                            <% if(ele.slot2==="Free" ){ %>
                                              <td>
                                                <div class="form-check">
                                                  <input class="form-check-input" name="slot" type="checkbox"
                                                    value=<%=Slot2 %> id="flexCheckDefault">

                                                  <label class="form-check-label" for="flexCheckDefault">
                                                    <%= ele.slot2 %>
                                                  </label>
                                                </div>
                                              </td>
                                              <% }else if(ele.slot2==="Busy" ){ %>

                                                <td>
                                                  <%= ele.slot2 %>
                                                </td>
                                                <% } %>

                                                  <% if(ele.slot3==="Free" ){ %>
                                                    <td>
                                                      <div class="form-check">
                                                        <input class="form-check-input" name="slot" type="checkbox"
                                                          value=<%=Slot3 %> id="flexCheckDefault">

                                                        <label class="form-check-label" for="flexCheckDefault">
                                                          <%= ele.slot3 %>
                                                        </label>
                                                      </div>
                                                    </td>
                                                    <% }else if(ele.slot3==="Busy" ){ %>

                                                      <td>
                                                        <%= ele.slot3 %>
                                                      </td>
                                                      <% } %>

                              </tr>
                              <% }); %>
                          </tbody>
                        </table>
                        <input type="hidden" id="custId" name="doctorName" value="<%= element.name %>">

                        <button type="submit" class="btn btn-success">Schedule Appointment</a>
                          </form>
                          <% }else{ %>
                            <div class="alert alert-danger" role="alert">The doctor has not updated his/her schedule
                            </div>
                            <% } %>









                    </div>
                  </div>
                </div>
                <% }) %>

          </div>
        </div>

        <% } %>

    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
</body>

</html>